{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if loser %}
<h1>Losers can not enter any more teams until the next series starts</h1>

{% endif %}

<h1>{{ series.series_name }}</h1>
    {% if not series.series_open %}
        <h2>This is now closed</h2>
        <p>{{ series.end_message }}</p>
    {% endif %}

    {% if series.series_open %}
        <h2>This is still open - what fun</h2>
        <p>Cost of entry £{{ series.entry_cost }} <p>
        <p>Roll-over £{{ series.rollover }} <p>
    {% endif %}

    {% if round_f %}
        <p>Rounds</p>
        {% for round in round_f %}

            {% if round.round_open %}
            <p><a href="{% url 'manage_prediction' series.id round.id %}">Round still open until {{ round.round_date }} - enter your selection</a></p>
            {% endif %}

            {% if not round.round_open %}
                <ul>
                <li>{{ round.round_date }} - Round Closed </li>

                {% for prediction in round.prediction_set.all %}
                    <ul><li>{{ prediction.user }}, picked {{ prediction.team }}, which {{ prediction.failed|yesno:"was Nil Nil!,had a goal,maybe - just maybe" }}</li></ul>
                {% endfor %}
               </ul>
            {% endif %}

        {% endfor %}
    {% endif %}


{% endblock %}
