<h1>{{ series.series_name }}</h1>
    {% if not series.series_open %}
        <h2>This is now closed</h2>
        <p>{{ serie.end_message }}</p>
    {% endif %}

    {% if series.series_open %}
        <h2>This is still open - what fun</h2>
        <p>Cost of entry £{{ series.entry_cost }} <p>
        <p>Roll-over £{{ series.rollover }} <p>
    {% endif %}

    {% if round_f %}
        <p>Rounds</p>
        {% for round in round_f %}

            {% if round.round_open %}
            <p><a href="{% url 'series_detail' series.id %}">Round still open until {{ round.round_date }} - enter your selection</a></p>
            {% endif %}

            {% if not round.round_open %}
                <ul>
                <li><a href="{% url 'round_detail' series.id round.id %}">{{ round.round_date }} - Round Closed </a></li>

                {% for prediction in round.prediction_set.all %}
                    <ul><li>{{ prediction.user }}, {{ prediction.round_f }} {{ prediction.team }}, {{ prediction.correct }}</li></ul>
                {% endfor %}
               </ul>
            {% endif %}

        {% endfor %}
    {% endif %}


