{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if series %}
    {% for serie in series %}
        <h4><a href="{% url 'series_detail' serie.id %}">{{ serie.series_name }}</a>
            {% if not serie.series_open %}(Closed).</h4>
                <ul><li>{{ serie.end_message }}</li></ul>
            {% endif %}
            {% if serie.series_open %}</h4>{% endif %}
            
    {% endfor %}
    </ul>
{% else %}
    <p>No series are available.</p>
{% endif %}

{% endblock %}

